<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/dummy.png">
            </ion-avatar>
            <h2>Rakshit Bhat</h2>
            <p class="location-class">Mumbai</p>
            <button item-end ion-button icon-only clear>
                <ion-icon color="gray" name="md-arrow-dropright"></ion-icon>
            </button>
            <progress-bar [progress]="20"></progress-bar>
        </ion-item>
    </ion-card>
    <ion-card>
        <button ion-button block icon-left (click)="getMyCondition()">
            <ion-icon name="md-medkit"></ion-icon>
            Track my condition
        </button>
    </ion-card>
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-icon name="md-heart-outline" color="primary" item-start></ion-icon>
                <p>My Profile</p>
                <span *ngIf="!profileFlag" ion-text color="secondary" style="font-weight: bold">Up to date!</span>
                <span *ngIf="profileFlag" ion-text color="primary" style="font-weight: bold">Incomplete!</span>
                <button ion-button icon-only item-end clear (click)="addProfile()">
                    <ion-icon name="add" color="gray"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                <ion-icon name="md-body" color="secondary" item-start></ion-icon>
                <p>My medical tests</p>
                <span *ngIf="!medicalFlag" ion-text color="secondary" style="font-weight: bold">Perfect!</span>
                <span *ngIf="medicalFlag" ion-text color="primary" style="font-weight: bold">Incomplete!</span>
                <button ion-button icon-only item-end clear (click)="addMedicalTests()">
                    <ion-icon name="add" color="gray"></ion-icon>
                </button>
            </ion-item>
            <ion-item (click)="getMyCondition()">
                <ion-icon name="md-flask" color="primary" item-start></ion-icon>
                <p>Predict Disease</p>
                <span ion-text color="primary" style="font-weight: bold">Mediocre!</span>
                <button item-end ion-button icon-only clear>
                    <ion-icon color="gray" name="md-arrow-dropright"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
