<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar text-center class="font-20">
            <img src="assets/imgs/icon.png" alt="" width="120">
            <p class="dash-board-title">Health Disease Prediction Systems</p>
        </ion-toolbar>
    </ion-header>

    <ion-content class="background-custom" padding-top>
        <ion-list>
            <div *ngFor="let p of pages">
                <button class="background-custom" *ngIf="p.flag" menuClose ion-item (click)="openPage(p)">
                    <ion-row>
                        <ion-col col-2 style="padding: 0">
                            <ion-icon class="icons-navbar" [ngStyle]="{'color': p.color}" name="{{p.icon}}"></ion-icon>&nbsp;&nbsp;
                        </ion-col>
                        <ion-col style="padding: 0">
                            <span style="font-size: 20px;">{{p.title}}</span>
                        </ion-col>
                    </ion-row>
                </button>
            </div>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>